* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0F1722;
    background-image: url(./img/Imagen-fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header div {
    display: flex;
    align-items: center;
    margin-top: 34px;
}

header img {
    margin: 0 0 0 66px;
}

header h1 {
    font-size: 31px;
    font-weight: 900;
    line-height: 40px;
    font-family: "Inter", sans-serif;
    color: #fff;
}

.user {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 100px;
    margin: 5px;
}

.user p{
    color: #fff;
    font-size: 20px;
    top: 0;
    right: 0;
    margin: 10px;
    text-align: center;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.user button{
    background-color: #8672AF;
    color: #fff;
    font-size: 20px;
    padding: 5px 20px;
    margin: 2px;
    text-align: center;
    text-align: center;
    border-radius: 8px;
}

.seta {
    width: 64px;
    height: 64px;
    margin: auto;
}

header .fundo {
    background-color: #8672AF;
    width: 89px;
    height: 84px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: 44px;
}

.texto_principal {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_principal h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 73px;
    margin-bottom: 22px;
}

.texto_principal p {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    width: 793px;
}

.caixinhas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 489px;
    margin-top: 128px;
}

.game {
    width: 290px;
    height: 313px;
    background-color: rgba(127, 129, 131, 0.5);
    border-radius: 60px;
}

.game div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game img {
    width: 190px;
    height: 176px;
    margin-top: 18px;
}

.game a {
    width: 202px;
    height: 40.6px;
    border-radius: 10px;
    color: #fff;
    border: 4px solid #fff;
    background-color: #D96ABB;
    margin-top: 33px;

    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game a:hover {
    cursor: pointer;
}

.Adicionais {
    width: 290px;
    height: 313px;
    background-color: rgba(127, 129, 131, 0.5);
    border-radius: 60px;
}

.Adicionais div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Adicionais img {
    width: 190px;
    height: 197px;
    margin-top: 7px;
}

.Adicionais a {
    width: 202px;
    height: 40.6px;
    border-radius: 10px;
    color: #fff;
    border: 4px solid #fff;
    background-color: #8662AF;
    margin-top: 33px;

    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Adicionais button:hover {
    cursor: pointer;
}

.sistema-solar {
    width: 466px;
    height: 790px;
    border-radius: 89px;
    background-color: rgba(127, 129, 131, 0.5);
    color: #fff;

    margin-top: 280px;
    margin-left: -45px;
    display: flex;
}

.sistema-solar div {
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

.sistema-solar h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 40px;

    margin-top: 41px;
    margin-left: 87px;
    margin-right: 53px;
}

.sistema-solar p {
    width: 328px;
    height: 480px;

    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;

    margin-top: 51px;
    margin-left: 79px;
    margin-right: 59px;
}

.sistema-solar a {
    width: 234.5px;
    height: 75.5px;
    border-radius: 10px;
    color: #fff;
    border: 4px solid #fff;
    background-color: #B86AD9;

    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
    margin-left: 119px;
    margin-right: 112.5px;
}