* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;
}

body {
    background-color: #0F1722;
    background-image: url(./img/earth-depicted-anime-style\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    margin-top: 34px;
}

header a {
    text-decoration: none;
}

header img {
    margin: 0 0 0 66px;
}

header h1 {
    font-size: 31px;
    font-weight: 900;
    line-height: 40px;
    font-family: "Inter", sans-serif;
    color: #fff;
}

.menu {
    margin-left: auto;
    background-color: #8672AF;
    padding: 10px 20px;
    border-radius: 25px;
}

.menu .ativo {
    color: #EE82EE;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 10px 20px;
}

.principal {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.principal div {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.principal p {
    color: #FFF;
    font-family: Kodchasan;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;

    width: 1040px;
}

.botao {
    color: #FFF;
    font-family: Kodchasan;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    padding: 10px; 
    text-decoration: none;

    margin-top: 51px;

    border-radius: 19px;
    border: 5px solid #FFF;
}
.filmes {
    margin-bottom: 84px;
}

.filmes h2 {
    color: #FFF;
    font-family: Kodchasan;
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    margin-left: 56px;
    margin-top: 57px;
    margin-bottom: 42px;
}

.carrossel {
    position: relative; /* Use relative para que a posição seja ajustável */
    width: 100%;
    height: 100%;
    overflow-x: auto; /* Permite a rolagem horizontal se necessário */
    white-space: nowrap; /* Evita que os itens quebrem em uma nova linha */
}

.container {
    display: inline-flex; /* Para organizar os itens em linha horizontal */
    transition: 0.6s ease-in-out;
}

.container .item {
    display: inline-block; /* Evita quebra de linha */
    margin: 0 65px;
    width: 220px;
    height: 367px;
    z-index: 2;
}


.container .item .img {
    width: 100%;
    height: 367px;
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
}

.bntleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 367px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 3;
}

.bntright {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 367px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 3;
}

.bntleft, .bntright {
    opacity: 0.8; /* Deixe mais visível */
    transition: opacity 0.3s; /* Transição suave na opacidade */
}

.bntleft:hover, .bntright:hover {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
}
.limitador {
    color: gray;
    background-color: gray;
    height: 367px;
}