* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;
}

body {
    background-color: #0F1722;
    background-image: url(./img/starry-sky-night-mountains-radiance-glitter-1213887-wallhere\ 5\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    margin-top: 34px;
}

header a {
    text-decoration: none;
}

header img {
    margin: 0 0 0 66px;
}

header h1 {
    font-size: 31px;
    font-weight: 900;
    line-height: 40px;
    font-family: "Inter", sans-serif;
    color: #fff;
}

.menu {
    margin-left: auto;
    background-color: #8672AF;
    padding: 10px 20px;
    border-radius: 25px;
}

.menu .ativo {
    color: #EE82EE;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 10px 20px;
}

h2 {
    color: #F0F0F0;
    text-align: center;
    font-family: Kodchasan;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    border-radius: 20px;
    width: 600px;
    margin-left: 450px;
    margin-bottom: 55px;
    margin-top: 50px;

    padding: 22px 140px;
    background-color: #796AD9;
}

section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.primeiro {
    margin-bottom: 30px;
    gap: 25px;
}

.segundo {
    gap: 25px;
}

.primeiro,
.segundo {
    display: flex;
}

.primeiro div,
.segundo div {
    display: flex;
    width: 206px;
    height: 260px;
    flex-direction: column;
    align-items: center;

    border-radius: 60px;
    background: rgba(128, 127, 127, 0.70);
}

.primeiro img,
.segundo img {
    margin-top: 35px;
}

.primeiro p,
.segundo p {
    color: #F0F0F0;
    text-align: center;
    font-family: Kodchasan;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;

    margin-top: 25px;
}